#atomo {
color: rgb(247, 16, 16);
/* background-color: black; */
animation-name: atomo1;
animation-duration: 5s;
}
@keyframes atomo1 {
    from {opacity: 0;}
    to {opacity: 1;}
}
   
#camara {
border-color: rgb(116, 67, 21);
animation-name: camara;
animation-duration: 6s;
animation-iteration-count: infinite;
/* tambien puede tener una iteración finita como x ejemplo 2  */
animation-delay: 4s; 
/* tiempo de espera */
position: absolute;
/* posicion absoluta para que se mueva sin importar lo que hay arriba u debajo del documento */
left: 250px;
animation-direction: reverse;
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes camara{
    from {color: coral; top: 50px;}
    to {color: blueviolet;top: 250px;}
}
.cuadros{
    background-color: burlywood;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}
#uno, #tres{
    background-color: black;
    color: white;
    position: relative;
    top: 0px;
    animation-name: mover;
    animation-duration: 5s;
    
}
@keyframes mover {
    25%{top: 200px;}
    50%{left: 220px;}
    75%{top: 0px;}
    100%{left: 20px;}
}
#dos, #cuatro{
    position: relative;
    animation-name: mover, flecha;
    /* llamar a mas de una animacion con animation name apartir de las comas  */
   animation-duration: 5s, 6s;
   /* entonces a la duración tmb hay que colocarle mas de un valor */
   animation-iteration-count: infinite ,infinite;
   animation-delay: 0s, 5s;
 }
 ul li{
     display: inline;
     padding: 10px;
     background-color: violet;
     color: white;
     cursor: pointer;
 }
 ul li:hover {
    animation-name: menu;
    animation-duration: 1s;

 }
 @keyframes menu {
     100%{padding: 15px;
        background-color: rgba(238, 130, 238, 0.418);
        color: rgb(17, 16, 16);
    box-shadow: 5px 5px 5px black; 
     border-radius: 50px;}
 }
 h1{
     animation-iteration-count: infinite;
 }